* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 25px;
}

.App h1 {
  color: blue;
  font-size: 30px;
  font-weight: 300;
  margin: 55px 0 25px 0;
  text-align: center;
  text-transform: uppercase;
}

.Navigation {
  display: flex;
  justify-content: space-around;
  margin-top: 55px;

}

.Navigation a {
  text-decoration: none;
}

.Navigation a.Active {
  border-bottom: 1.5px solid blue;
}

.Navigation a:visited {
  color: blue;
}

.WeatherCard {
  border: 1px solid blue;
  border-radius: 8px;
  position: absolute;
  left: 30%;
  padding: 25px;
  right: 30%;
  text-align: center;
}

.WeatherCard > p:nth-child(3) {
  font-size: 60px;
  margin: 15px;
}

.WeatherImageWrapper {
  display: flex;
  justify-content: center;
  font-size: 95px;
  padding: 20px 0 10px 0;
}

.WeatherInfoWrapper {
  display: inline-block;
  text-align: left;
}

@media (min-width: 800px) {
  .App h1 {
    font-size: 40px;
  }
}
